

<body>

    <!-- Full Width Image Header with Logo -->
    <!-- See https://github.com/ckib16/startbootstrap-full-width-pics -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
            <h1>Welcome to GroupThink!</h1>
            <h3>GroupThink is a Wiki collaboration tool.</h3>
    </header>
        
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Growing My Knowledge</h2>
                <p>My third project with <%= link_to "Bloc.io", "https://www.bloc.io"%>. Be sure to check out <%= link_to "ChrisKibble.net", "http://http://www.chriskibble.net/about/" %> for some other examples from my portfolio.  </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Tackling Front End Skills</h2>
                <p>This is my first project where I'm really branching out beyond the basics of Bootstrap, Foundation and other front end frameworks. Responsive web design in action!</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Putting It All Together</h2>
                <p>Here's where my long hours of practice pay off. A working, production-quality app. That's just happens to be easy on the eyes.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>
        <footer>
            <p>&copy; Chris Kibble 2015</p>
        </footer>
    </div>